<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://code.alibabatech.com/schema/dubbo
               http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--
    这里没有将spring的配置文件和spring-provider.xml分开,实际开发中应该各司其职。
    -->

    <!-- 用来追踪依赖关系：provider's application name, used for tracing dependency relationship -->
    <dubbo:application name="dubbo-demo-provider"/>

    <!--设置注册中心，除了zookeeper外还有multicast(使用此则不用安装zk)等，注意使用zk时需要先启动zk-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!--定义service的实现类-->
    <bean id="demoService" class="com.univ.service.impl.DemoServiceImpl"/>
    <!--将demoService暴露给外界-->
    <dubbo:service interface="com.univ.service.DemoService" ref="demoService"/>

    <bean id="validateService" class="com.univ.service.impl.ValidateServiceImpl"/>
    <!--经验证，服务提供者不用指定validation="true"-->
    <dubbo:service interface="com.univ.service.ValidateService" ref="validateService" validation="true"/>

    <!--启用注解形式的aop(@Aspect，@Before)-->
    <aop:aspectj-autoproxy />
    <!--定义ResponseAspect-->
    <bean id="responseAspect" class="com.univ.aop.response.ResponseAspect"/>


</beans>
