<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!--用来追踪依赖关系,不要和spring-provider.xml中的设置一样-->
    <dubbo:application name="dubbo-demo-consumer"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!-- 引用远程服务(为远程service创建代理，之后就可以像调用本地服务一样了)-->
    <dubbo:reference interface="com.univ.iprovider.DemoService" id="demoService" />


</beans>
